.red-hat-display {
  font-family: "Red Hat Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.limelight-regular {
  font-family: "Limelight", serif;
  font-weight: 400;
  font-style: normal;
}

.berkshire-swash-regular {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("background.png");
  padding-left:4%;
  padding-right:4%;
  background-size: 30%;
  font-family: "Red Hat Display";
}
footer {
  background-color:#274F43;
  font-family: "Red Hat Display";
  padding: 0.7%;
  text-align: center;
  width:fit-content;
  margin:auto;
  p{
    color:white;
    margin:0;
  }
  a {
    color:white;
  }
}
h1 {
  color: #50242A;
  margin:0;
  font-family: "Berkshire Swash";
  font-size: 2.4em 
}
h1.title {
  a{
  font-family: "Berkshire Swash";
  color: #CF7F92;
  background-color: #50242A;
  width:fit-content;
  padding: 0.5% 5%;
  margin: auto;
  border: solid 6px #CF7F92;
  font-size:1.4em;
}
}

h2 {
  color: #50242A;
  margin:0;
  font-family: "Berkshire Swash";
  font-size: 1.8em 
}

h3 {
  color: #50242A;
  margin:0;
  font-family: "Red Hat Display";
  font-style: Bold;
}

a {
  color:#50242A;
}
p {
  color: black
}
p.start {
  margin-top: 0;
}
img.default {
  margin:auto; 
  display:block;
  border:solid 5px #4EA589;
}
img.full {
  background-color: #E9CDD3;
  padding: 1% 1%;
  border: solid 4px #CF7F92;
  display:block;
  margin:auto;

}
.header {
  text-align: center;
}
.context{
  background-color: #50242A;
  padding: 0.01% 1%;
  border: solid 4px #CF7F92;
  p { 
    color: white; 
    margin-top: 0;
  }
  h1 {
    color:#CF7F92;
    margin: 0;}
  h2 {
    color:#CF7F92;
    margin: 0;
  }
  a {
    color:#CF7F92;
  }
}
.citation{
  background-color: #50242A;
  padding: 0.01% 1%;
  border: solid 4px #CF7F92;
  p { 
    color: white;
    margin: 5px;
  }
  h1 {
    color:#CF7F92;
    margin: 0;
  }
  a {
    color:#CF7F92;
  }
}
.bodytext{
  background-color: #E9CDD3;
  padding: 0.01% 1%;
  border: solid 4px #CF7F92;

}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted black;
  background-color: #bf4e686d;
  color: black;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #432334;
  color: white;
  text-align: left;
  padding: 5px 5px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
nav{
  background-color: #C0EBDD;
  width: auto;
  margin: auto;
  line-height: 2.7;
  padding: 5px;
  border: solid 4px #4EA589;

  a {
    background-color: #274F43;
    outline: dashed 2px #4EA589;
    color: white;
    margin:7px;
    padding: 5px;
    text-decoration: none;
  }
}
hr.andy{
  border-top: 2px dashed #50242A;
}

.images {
  display:flex;
  max-width: 100%;
  margin:0;
  align-items: center;
  .text {
    margin-top: 0;
    flex:66%;
  }
  img {
    height:350px;
  }}
  .dualbox {
    display:flex;
    max-width:100%;
    margin:0;
    align-items: top;
    border: solid 4px #CF7F92;
    background-color: #E9CDD3;
    .works {
    text-align: center;
    background-color: #E9CDD3;
    padding: 2%;
    display:block;
    height:fit-content;
    font-size: 1.25em;}
    .slo {
    background-color: #50242A;
    padding: 2%;
    width: 58%;
    p {
      font-size: 1.1em;
    color: white;
    }
    h2{
      color: #CF7F92;
    }
    h1{
      color: #CF7F92;
    }
    a {
      color: #CF7F92;
    }
  }}